.menuBox{
    -fx-background-color:#3346A7;
}
.whitelabel{
    -fx-text-fill:#FBFCFE;
}
.menuButton{
    -fx-background-color:transparent;
    -fx-text-fill:#FBFCFE;
}
.menuButton:hover{
    -fx-background-color: transparent;
    -fx-text-fill: #FBFCFE;
    -fx-font-weight: bold;
}
.image{
    -fx-margin: 0 20 10 0;
}

.functionalScreen{
-fx-background-color:#FBFCFE;
}
.button{
    -fx-background-color:#3346A7;
  -fx-text-fill:#FBFCFE;
}